@charset "utf-8";
@import url("./reset.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  background-color: #fff;
  color: #000;
}
.container {
  width: 100%;
  height: auto;
}
header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
/* 컨텐츠 공통 설정 */
.con {
  width: 1600px;
  height: auto;
  margin: 0 auto;
}
h4 {
  white-space: nowrap;
}

/* 헤더 */
header > .con {
  height: 100px;
  display: flex;
  gap: 100px;
}
#gnb {
  width: fit-content;
  display: flex;
  align-items: center;
  font-weight: 300;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
#gnb > ul {
  width: fit-content;
  display: flex;
  gap: 10px;
  text-align: center;
  background-color: #000;
  border-radius: 100px;
  padding: 10px 40px;
  box-sizing: border-box;
}
#gnb > ul > li {
  width: fit-content;
  height: fit-content;
  background-color: #000;
  border-radius: 100px;
}
#gnb > ul > li > a {
  transition: 0.5s;
  font-size: 16px;
  display: block;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  box-sizing: border-box;
}
#gnb > ul > li:hover > a {
  font-weight: 500;
  background-color: #fff;
  color: #000;
}

/* sec1 */
.sec1 {
  width: 100%;
  height: auto;
  margin-top: 100px; /* 헤더 높이때문에 */
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec1 > .con {
  height: auto;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 40px;
  padding: 80px 105px;
  box-sizing: border-box;
}
.sec1_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec1_top_right {
  width: 220px;
  height: 220px;
  border-radius: 200px;
  overflow: hidden;
}
.sec1_top_left h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 24px;
}
.sec1_top_left p {
  line-height: 28px;
}
.sec1_bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 70px;
  margin-top: 80px;
}
.detail {
  padding: 4px 4px 0 4px;
  box-sizing: border-box;
}
.detail p:last-of-type {
  line-height: 1.4;
  margin-top: 10px;
}
.sec1_bottom_left,
.experience,
.qualifications,
.skill {
  flex: 1;
}
.sec1_bottom span {
  font-size: 14px;
}
.sec1_bottom p {
  font-size: 17px;
  color: #444;
}
.sec1_bottom h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
}
.sec1_bottom h3 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  color: #000;
}
.sec1_bottom_left {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 88px;
}
.edu .detail:first-of-type {
  margin-bottom: 40px;
}
.experience {
  width: fit-content;
}
.experience .detail:first-of-type,
.experience .detail:nth-of-type(2) {
  margin-bottom: 40px;
}
.qualifications {
  width: fit-content;
}
.qualifications .detail:first-of-type,
.qualifications .detail:nth-of-type(2) {
  margin-bottom: 40px;
}
.skill {
  width: fit-content;
}
.skill .detail:not(.skill .detail:last-of-type) {
  margin-bottom: 10px;
}
.skill .detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.gauge_wrap {
  width: fit-content;
  display: flex;
  gap: 4px;
  margin-bottom: 8px;
}
.gauge_wrap .gauge {
  width: 10px;
  height: 10px;
  background-color: #444;
}

/* 스킬 게이지 설정 */
.skill .detail:nth-of-type(1) .gauge_wrap .gauge:nth-last-child(-n + 1),
.skill .detail:nth-of-type(2) .gauge_wrap .gauge:nth-last-child(-n + 2),
.skill .detail:nth-of-type(3) .gauge_wrap .gauge:nth-last-child(-n + 3),
.skill .detail:nth-of-type(4) .gauge_wrap .gauge:nth-last-child(-n + 3),
.skill .detail:nth-of-type(5) .gauge_wrap .gauge:nth-last-child(-n + 3),
.skill .detail:nth-of-type(6) .gauge_wrap .gauge:nth-last-child(-n + 6) {
  background-color: #fff;
  border: 1px solid #444;
  box-sizing: border-box;
}

/* sec2 */
.sec2 {
  margin: 100px 0;
}
.sec2 .con {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.view1,
.view2,
.view3 {
  width: 100%;
  background-color: palegoldenrod;
  height: 140px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  position: relative; /* 보기버튼 위치고정 */
}
.view1 a,
.view2 a,
.view3 a {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  gap: 10px;
  background-color: #fff;
  margin-left: 50px;
  padding: 26px 44px;
  box-sizing: border-box;
  border-radius: 100px;
  position: absolute; /* 보기버튼 위치고정 */
  top: 37px; /* 보기버튼 위치고정 */
}
.view1 a img,
.view2 a img,
.view3 a img {
  margin-top: 8px;
}

/* 아코디언 */
.view1 {
  width: 100%;
  background: url(../img/aboutme/sec2/img1.jpg) center/cover no-repeat;
  transition: height 0.3s linear;
  overflow: hidden;
}
.view2 {
  background: url(../img/aboutme/sec2/img2.jpg) center/cover no-repeat;
  transition: height 0.3s linear;
  overflow: hidden;
}
.view3 {
  background: url(../img/aboutme/sec2/img3.jpg) center/cover no-repeat;
  transition: height 0.3s linear;
  overflow: hidden;
}
.view1.active,
.view2.active,
.view3.active {
  height: 300px;
}

/* 푸터 */
footer {
  width: 100%;
  height: auto;
  font-size: 18px;
  overflow: hidden;
  padding: 80px 0;
  line-height: 1.5;
  background-color: #000;
}
footer p,
footer h4 {
  color: #fff;
}
.info_top {
  width: 100%;
  display: flex;
  gap: 100px;
}
.info_top h4 {
  font-weight: bold;
}
.info_bottom {
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.info_bottom > p {
  letter-spacing: 1px;
}
.info_bottom_link,
.info_bottom_link a {
  display: flex;
  font-weight: bold;
  color: #fff;
}
.info_bottom_link {
  gap: 30px;
}
.info_bottom_link a {
  gap: 4px;
}
