/* 노트북 */
@media screen and (min-width: 1440px) and (max-width: 1600px) {
  /* .con 컨텐츠 공통 영역 */
  .con {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }

  /* 헤더 */
  header > .con {
    width: 90%;
  }

  /* sec1 */
  .sec1_right {
    width: 760px;
  }

  /* sec2 */
  .sec2 p {
    width: 90%;
  }
}

/* 중간사이즈 노트북, 큰 사이즈 테블릿 */
@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .con {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }

  /* 헤더 */
  header > .con {
    width: 90%;
  }

  /* sec1 */
  .sticky_text {
    width: 66%;
  }
  .experience h3,
  .social h3,
  .edu h3,
  .qualifications h3,
  .skill h3 {
    font-size: 24px;
  }

  .sec1_right {
    width: 100%;
  }
  .sticky_text h3:first-of-type {
    font-size: 70px;
  }
  .sticky_text h3:last-of-type {
    font-size: 76px;
  }
  .sticky_text p {
    font-size: 15px;
  }
  .sec1_right h4 {
    font-weight: 500;
    margin-bottom: 6px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
  }
  .sec1_right span {
    font-size: 14px;
    margin-left: 0px;
  }
  .sec1_right p {
    font-size: 16px;
    letter-spacing: -1px;
    padding: 0px;
  }

  /* sec2 */
  .sec2 p {
    width: 90%;
  }

  /* 푸터 */
  footer p,
  footer h4,
  .info_bottom span,
  .info_bottom p {
    font-size: 16px;
  }
}

/* 테블릿 중간~소 사이즈 */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .con {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }

  /* 헤더 */
  header > .con {
    width: 90%;
  }

  /* sec1 */
  .sec1 > .con {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sec1_sticky {
    position: static;
  }
  .sticky_text {
    width: 100%;
    margin-bottom: 60px;
  }
  .experience h3,
  .social h3,
  .edu h3,
  .qualifications h3,
  .skill h3 {
    font-size: 22px;
  }

  .sec1_right {
    width: 100%;
  }
  .sticky_text h3:first-of-type {
    width: 50%;
    margin: 0 auto;
    font-size: 70px;
  }
  .sticky_text h3:last-of-type {
    width: 50%;
    margin: 0 auto;
    font-size: 76px;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  .sticky_text p {
    font-size: 15px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .sec1_right h4 {
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
  }
  .sec1_right span {
    font-size: 14px;
    margin-left: 0px;
    margin-top: 4px;
  }
  .sec1_right p {
    font-size: 16px;
    letter-spacing: -1px;
    padding: 0px;
  }

  /* sec2 */
  .sec2 p {
    width: 90%;
  }

  /* 푸터 */
  footer p,
  footer h4,
  .info_bottom span,
  .info_bottom p {
    font-size: 16px;
  }
}

/* 모바일 */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* 헤더 */
  header > .con {
    width: 90%;
  }
  h1 {
    font-size: 26px;
  }
  #gnb {
    font-size: 20px;
  }
  #gnb > ul > li {
    padding: 0px;
  }
  #gnb > ul {
    padding: 0px;
  }
  #gnb > ul > li > a {
    padding: 0px;
  }

  /* .con 컨텐츠 공통 영역 */
  .con {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }

  /* 헤더 */
  header > .con {
    width: 90%;
  }

  /* sec1 */
  .sec1 {
    padding: 10px 0 100px 0;
  }
  .sec1 > .con {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sec1_sticky {
    position: static;
  }
  .sticky_text {
    width: 100%;
    margin-bottom: 60px;
  }
  .experience h3,
  .social h3,
  .edu h3,
  .qualifications h3,
  .skill h3 {
    font-size: 20px;
  }

  .sec1_right {
    width: 100%;
  }
  .sticky_text h3:first-of-type {
    width: 50%;
    margin: 0 auto;
    font-size: 50px;
  }
  .sticky_text h3:last-of-type {
    width: 50%;
    margin: 0 auto;
    font-size: 56px;
    margin-bottom: 40px;
    margin-top: 10px;
  }
  .sticky_text p {
    font-size: 14px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .sec1_right h4 {
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
  }
  .sec1_right span {
    font-size: 14px;
    margin-left: 0px;
    margin-top: 4px;
  }
  .sec1_right p {
    font-size: 16px;
    letter-spacing: -1px;
    padding: 0px;
  }

  /* sec2 */
  .sec2 {
    height: 80px;
  }
  .sec2 p {
    width: 90%;
    font-size: 24px;
  }
  /* 푸터 */
  footer p,
  footer h4,
  .info_bottom span,
  .info_bottom p {
    font-size: 12px;
  }
  .info_top {
    width: 90%;
    margin: 0 auto;
    gap: 0;
    justify-content: space-between;
  }
  .info_bottom {
    width: fit-content;
    margin: 0 auto;
    flex-direction: column-reverse;
    gap: 20px;
    text-align: center;
    margin-top: 60px;
  }
}

/* 작은 모바일 */
@media screen and (max-width: 480px) {
  /* 헤더 */
  header > .con {
    width: 90%;
  }
  header {
    height: 80px;
  }
  h1 {
    font-size: 24px;
  }
  #gnb {
    font-size: 16px;
  }
  #gnb > ul > li {
    padding: 0px;
  }
  #gnb > ul {
    padding: 0px;
    gap: 20px;
  }
  #gnb > ul > li > a {
    padding: 0px;
  }

  /* .con 컨텐츠 공통 영역 */
  .con {
    width: 96%;
    height: auto;
    margin: 0 auto;
  }

  /* sec1 */
  .sec1 {
    padding: 10px 0 100px 0;
  }
  .sec1 > .con {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sec1_sticky {
    position: static;
  }
  .sticky_text {
    width: 100%;
    margin-bottom: 0px;
  }
  .experience h3,
  .social h3,
  .edu h3,
  .qualifications h3,
  .skill h3 {
    font-size: 16px;
  }

  .sec1_right {
    width: 100%;
    margin-top: -40px;
  }
  .sticky_text h3:first-of-type {
    width: 80%;
    margin: 0 auto;
    font-size: 50px;
  }
  .sticky_text h3:last-of-type {
    width: 80%;
    margin: 0 auto;
    font-size: 56px;
    margin-bottom: 40px;
    margin-top: 10px;
  }
  .sticky_text p {
    font-size: 14px;
    width: 90%;
    margin: 0 auto;
    text-align: left;
    visibility: hidden;
  }
  .sticky_text p span {
    visibility: visible;
    display: block;
  }
  .sticky_text p span:last-of-type {
    margin-top: -70px;
  }
  .sec1_right h4 {
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
  }
  .sec1_right span {
    font-size: 14px;
    margin-left: 0px;
    margin-top: 4px;
  }
  .sec1_right p {
    font-size: 16px;
    letter-spacing: -1px;
    padding: 0px;
  }
  .experience,
  .social,
  .edu,
  .qualifications,
  .skill {
    padding: 20px 35px 70px 35px;
    max-height: 100px;
  }
  .detail {
    margin: 0 10px;
  }
  .title {
    margin-bottom: 30px;
  }
  .gauge_wrap {
    gap: 2px;
  }
  .gauge_wrap .gauge {
    width: 6px;
    height: 6px;
  }

  /* sec2 */
  .sec2 {
    height: 60px;
  }
  .sec2 p {
    width: 90%;
    font-size: 20px;
  }

  /* 푸터 */
  footer p,
  footer h4,
  .info_bottom span,
  .info_bottom p {
    font-size: 12px;
  }
  .info_top {
    width: 90%;
    margin: 0 auto;
    gap: 0;
    justify-content: space-between;
  }
  .info_bottom {
    width: fit-content;
    margin: 0 auto;
    flex-direction: column-reverse;
    gap: 20px;
    text-align: center;
    margin-top: 60px;
  }
}
