@charset "utf-8";
@import url("./reset.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  background-color: #fff;
  color: #000;
}
.container {
  width: 100%;
  height: auto;
}
header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.con {
  width: 1600px;
  height: auto;
  margin: 0 auto;
}

/* 헤더 */
header > .con {
  height: 100px;
  display: flex;
  gap: 100px;
}
#gnb {
  width: fit-content;
  display: flex;
  align-items: center;
  font-weight: 300;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
#gnb > ul {
  width: fit-content;
  display: flex;
  gap: 10px;
  text-align: center;
  background-color: #000;
  border-radius: 100px;
  padding: 10px 40px;
  box-sizing: border-box;
}
#gnb > ul > li {
  width: fit-content;
  height: fit-content;
  background-color: #000;
  border-radius: 100px;
}
#gnb > ul > li > a {
  transition: 0.5s;
  font-size: 16px;
  display: block;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  box-sizing: border-box;
}

#gnb > ul > li.active > a {
  font-weight: 500;
  background-color: #fff;
  color: #000;
}

main {
  width: 100%;
  height: auto;
}
section {
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* 메인이미지(sec1) */
.sec1 {
  margin-bottom: 160px;
}
.sec1 .con {
  height: 600px;
  margin-top: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: wheat;
  z-index: 100;
  border-radius: 40px;
}

/* 포지션 쓰면 margin 적용되지X */
.main_visual_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #000;
}
.main_visual_text h2 {
  font-size: 30px;
  padding-bottom: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}
.main_visual_text p {
  font-size: 16px;
  line-height: 24px;
}
/* 메인이미지 끝 */

/* sec2 */
.sec2 {
  height: 648px;
}
.sec2 > .con {
  height: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.sec2_leftBox {
  width: 604px;
  height: 648px;
  background-color: #fff;
  border-radius: 40px;
  overflow: hidden;
}
.sec2_leftBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.right_area {
  width: 960px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec2 .top_text {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
}
.sec2 .top_text h3 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}
.sec2 .top_text img {
  width: 30px;
}
.sec2 .text_box {
  width: 100%;
  padding: 40px;
  height: auto;
  box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 40px;
  line-height: 1.4;
}
.sec2 .text_box h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}
.sec2 .text_box p {
  padding: 0 10px;
  box-sizing: border-box;
}
.right_area_bottom {
  width: 100%;
  height: 310px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.skills {
  flex: 1;
  height: 100%;
  background-color: #000;
  border-radius: 40px;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.skills p {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
.skills_logo,
.experience_year {
  margin-top: auto;
  margin-left: auto;
  text-align: right;
  overflow: hidden;
}
.tool_logo,
.code_logo {
  display: flex;
  gap: 4px;
}
.tool_logo {
  margin-bottom: 4px;
}
.experience {
  flex: 1;
  height: 100%;
  border-radius: 40px;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: 1px solid #999;
}
.experience > p {
  font-size: 24px;
  font-weight: bold;
}
.experience_year > p {
  font-size: 20px;
  line-height: 1.5;
}

/* 메인 3번째 섹션 */
.sec3 {
  padding: 160px 0 260px 0;
  box-sizing: border-box;
  height: auto;
  /* background-image: url(../img/sec3/gradient-background.svg); */
}
.sec3 .con {
  display: flex;
  justify-content: space-between;
}
.sticky_text {
  width: 550px;
  height: fit-content;
  position: sticky;
  top: 100px;
}
.sticky_text h2 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 50px;
}
.sticky_text p {
  line-height: 1.4;
  margin-bottom: 50px;
}
.sticky_text a {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
  color: #000;
}
.sticky_text span {
  font-size: 18px;
}
.sticky_text img {
  width: 20px;
}
/* sec3 이미지 영역 설정 */
.sec3 .images {
  width: 900px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.sec3 .images img {
  /* 이미지 꽉 차도록 */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sec3 .img1,
.sec3 .img2,
.sec3 .img3,
.sec3 .img4,
.sec3 .img5 {
  border-radius: 40px;
  overflow: hidden;
}
.img1 {
  height: 340px;
}
.img_wrap1,
.img_wrap2 {
  display: flex;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
  height: 340px;
}
.img_wrap1 .img2 {
  flex: 1;
}
.img_wrap1 .img3 {
  flex: 2;
}
.img_wrap2 .img4 {
  flex: 2;
}
.img_wrap2 .img5 {
  flex: 1;
}

/* 푸터 */
footer {
  width: 100%;
  height: auto;
  font-size: 18px;
  overflow: hidden;
  padding: 80px 0;
  line-height: 1.5;
  background-color: #000;
}
footer a {
  /* a태그 없지만 모바일에서 번호가 a태그로 인식, 검정으로 보여서 */
  color: #fff;
}
footer p,
footer h4 {
  color: #fff;
}
.info_top {
  width: 100%;
  display: flex;
  gap: 100px;
}
.info_top h4 {
  font-weight: bold;
}
.info_bottom {
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.info_bottom > p {
  letter-spacing: 1px;
}
.info_bottom_link,
.info_bottom_link a {
  display: flex;
  font-weight: bold;
  color: #fff;
}
.info_bottom_link {
  gap: 30px;
}
.info_bottom_link a {
  gap: 4px;
}
