@charset "utf-8";
@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Archivo+Black&family=Noto+Sans+KR:wght@100..900&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  color: var(--font-color);
  background-color: var(--bg-color);
}
.container {
  width: 100%;
  height: auto;
}
.con {
  width: 1600px;
  height: auto;
  margin: 0 auto;
}

/* 헤더 */
header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  font-family: "Archivo Black", sans-serif;
  background-color: var(--bg-color);
}
h1 {
  font-size: 40px;
}
h1 a {
  transition: 0.3s;
}
h1 a:hover {
  color: var(--main-color);
}
header > .con {
  width: 1600px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#gnb {
  width: fit-content;
  display: flex;
  align-items: center;
  font-size: 26px;
}
#gnb > ul {
  width: fit-content;
  display: flex;
  gap: 60px;
  text-align: center;
}
#gnb > ul > li > a {
  transition: 0.3s;
}
#gnb > ul > li > a:hover {
  color: var(--main-color);
}
#gnb > ul > li.active > a {
  color: var(--main-color);
}
main {
  width: 100%;
  height: auto;
}
section {
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* 메인이미지(sec1) */
.sec1 {
  width: 100%;
  font-family: "Archivo Black", sans-serif;
}
.sec1 .con {
  height: 90vh;
  position: relative;
  margin-top: 100px; /*해더 높이 때문에*/
}

.main_visual_text {
  width: 1600px;
  color: var(--main-color);
  margin: 0 auto;
}
.main_visual_text h2 {
  width: fit-content;
  font-size: 25vw;
  letter-spacing: -30px;
}
.main_visual_text p {
  width: fit-content;
  font-size: 14vw;
  margin-left: auto;
  font-family: "Abhaya Libre", serif;
  font-weight: 800;
}
.hello_hand {
  display: flex;
  align-items: baseline;
  gap: 20px;
}
.main_visual_text img {
  width: 15vw;
  animation: hand 3s 0s infinite linear;
}
@keyframes hand {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
.scroll {
  width: fit-content;
  margin: 0 auto;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: var(--sub-color);
}
.scroll_icon {
  width: 30px;
  height: 50px;
  border: 2px solid var(--sub-color);
  border-radius: 100px;
}
.scroll_icon::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: var(--sub-color);
  border-radius: 50px;
  margin: 0 auto;
  margin-top: 10px;
  animation: scrollDot 2s 0s infinite ease;
}
@keyframes scrollDot {
  0% {
    height: 10px;
  }
  50% {
    height: 18px;
  }
  100% {
    height: 10px;
  }
}
/* 메인이미지 끝 */

/* sec2 */
.sec2 {
  padding: 150px 0;
  box-sizing: border-box;
  z-index: 10;
}
.sec2 > .con {
  height: 100%;
  text-align: center;
  margin-bottom: 100px;
}
.sec2 > .con h3 {
  font-size: 30px;
  margin-bottom: 40px;
  letter-spacing: -1px;
  font-weight: 500;
  transition: 0.3s;
}
.sec2 > .con p {
  font-size: 22px;
  line-height: 1.5;
  transition: 0.3s;
}
/* sec2 */

/* 메인 3번째 섹션 */
.sec3 {
  box-sizing: border-box;
  margin-bottom: 200px;
}
.sec3 .con {
  position: relative;
}
.sec3 div {
  height: auto;
}

.sec3_top,
.sec3_bottom {
  display: flex;
  gap: 20px;
}
.sec3_bottom {
  margin-top: 20px;
}

.img_box1 img,
.img_box2 img,
.img_box3 img {
  width: 100%;
  height: fit-content;
  object-fit: cover;
  transition: 0.3s;
  border-radius: 10px;
  transition: 0.3s;
}

.img_box4 img,
.img_box5 img {
  width: 100%;
  height: fit-content;
  object-fit: cover;
  transition: 0.3s;
  border-radius: 10px;
}

/* .more a {
  position: absolute;
  top: 425vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
  font-weight: 500;
  border: 2px solid #000;
  background-color: var(--bg-color);
  padding: 14px 40px;
  border-radius: 50px;
}
.more_img_wrap {
  position: absolute;
  top: 425vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: -1;
}
.more_img_wrap img {
  object-fit: cover;
  transform: translateY(20px);
}
.more_img_wrap .image4,
.more_img_wrap .image2 {
  width: 50px;
  height: 100%;
}
.more_img_wrap .image1,
.more_img_wrap .image3,
.more_img_wrap .image5 {
  width: 30px;
  height: 100%;
} */

/* sec4 */
.sec4 {
  background-color: var(--main-color);
  color: #fff;
  width: 100%;
  height: 100px;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec4 p {
  width: 1600px;
  margin: 0 auto;
  font-size: 26px;
  font-family: "Archivo Black", sans-serif;
}

/* 푸터 */
footer {
  width: 100%;
  height: auto;
  font-size: 18px;
  overflow: hidden;
  padding: 80px 0;
  line-height: 1.5;
  background-color: #000;
  /* opacity: 0; */
}
footer a {
  /* a태그 없지만 모바일에서 번호가 a태그로 인식, 검정으로 보여서 */
  color: #fff;
}
footer p,
footer h4 {
  color: #fff;
}
.info_top {
  width: 100%;
  display: flex;
  gap: 100px;
}
.info_top h4 {
  font-weight: bold;
}
.info_bottom {
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.info_bottom > p {
  letter-spacing: 1px;
}
.info_bottom_link,
.info_bottom_link a {
  display: flex;
  font-weight: bold;
  color: #fff;
}
.info_bottom_link {
  gap: 30px;
}
.info_bottom_link a {
  gap: 4px;
}
