@charset "utf-8";
@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Archivo+Black&family=Noto+Sans+KR:wght@100..900&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  color: var(--font-color);
  background-color: var(--bg-color);
}
.container {
  width: 100%;
  height: auto;
}
.con {
  width: 1600px;
  height: auto;
  margin: 0 auto;
}

/* 헤더 */
header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  font-family: "Archivo Black", sans-serif;
  background-color: var(--bg-color);
}
h1 {
  font-size: 40px;
}
h1 a {
  transition: 0.3s;
}
h1 a:hover {
  color: var(--main-color);
}
header > .con {
  width: 1600px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#gnb {
  width: fit-content;
  display: flex;
  align-items: center;
  font-size: 26px;
}
#gnb > ul {
  width: fit-content;
  display: flex;
  gap: 60px;
  text-align: center;
}
#gnb > ul > li > a {
  transition: 0.3s;
}
#gnb > ul > li > a:hover {
  color: var(--main-color);
}
#gnb > ul > li.active > a {
  color: var(--main-color);
}
main {
  width: 100%;
  height: auto;
}
section {
  width: 100%;
  height: auto;
}

/* 라이트박스 */
#light_box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 999;
  overflow: auto;
}
.light_box_area {
  width: 800px;
  max-height: 80vh;
  overflow-y: auto;
  padding: 20px;
  border-radius: 10px;
}
#light_box img {
  display: block;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 0;
  padding-bottom: 100px;
}

/* sec1 */
.sec1 {
  width: 100%;
  height: 200px;
  margin-top: 100px; /* 헤더 높이때문에 */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 50px;
}
.sec1 h2 {
  font-family: "Archivo Black", sans-serif;
  color: var(--point-color);
  font-weight: 800;
}
.sec1 .con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.sec1 p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  margin-left: 10px;
}

/* 라이트박스 */
#light_box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 999;
  overflow: auto;
}
#light_box img {
  position: absolute;
  top: 150px;
  /* width: 700px; */
  width: 55%;
  max-width: 100%;
  height: auto;
  border-radius: 0;
  padding-bottom: 100px;
}

/* sec2 */
.ad9 {
  display: none;
}
.submenu {
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  gap: 4px;
}
.submenu a {
  padding: 10px 18px;
  transition: 0.3s;
}
.submenu a.active,
.submenu a:hover {
  background-color: var(--main-color);
  color: #fff;
  padding: 10px 18px;
  border-radius: 100px;
}
.content_wrap > div {
  margin-bottom: 20px;
}
.content_wrap p,
.submenu5 span {
  font-size: 16px;
  font-weight: 500;
}

/* 썸네일 이미지 설정 */
.img_wrap {
  overflow: hidden;
  width: 385px;
  height: 385px;
  background-color: var(--bg-color);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
.banner_img_wrap {
  overflow: hidden;
  width: 100%;
  height: 100%;
  /* max-height: 320px; */
  background-color: var(--bg-color);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
.img_wrap img,
.banner_img_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(100%);
  transition: 0.3s ease;
}
.img_wrap img:hover,
.banner_img_wrap img {
  filter: brightness(100%);
  transform: scale(1.01);
  cursor: url("../img/cursor.png") 2 2, auto;
}
.content_wrap:has(> div img:hover) .img_wrap:not(:hover) img,
.content_wrap:has(> div img:hover) .banner_img_wrap:not(:hover) img {
  filter: brightness(80%);
}

/* 상세페이지 submenu1, 광고 submenu3, 촬영 submenu4 */

.submenu1,
.submenu3,
.submenu4,
.submenu5,
.submenu6 {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 180px;
  justify-content: center;
}

.submenu1 p,
.submenu2 p,
.submenu3 p,
.submenu5 span {
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
  color: #555555;
  cursor: pointer;
  display: block;
}

.submenu4 .photo9 {
  display: none;
}

.submenu6 .retouch5 {
  display: none;
}
/* ================= 끝 ================= */

/*  배너 submenu2 */
.submenu2 {
  display: flex;
  flex-direction: column;
  /* gap: 60px; */
  margin-bottom: 200px;
}

/* 영역차지 설정 */
.webpage6 .img_wrap,
.webpage7 .img_wrap,
.webpage8 .img_wrap,
.submenu1 .detail_page8 .img_wrap {
  cursor: default;
}
/* ================= 배너 submenu2  끝 ================= */

/* sec3 */
.sec3 {
  background-color: var(--main-color);
  color: #fff;
  width: 100%;
  height: 100px;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.sec3 p {
  width: 1600px;
  margin: 0 auto;
  font-size: 26px;
  font-family: "Archivo Black", sans-serif;
}

/* 푸터 */
footer {
  width: 100%;
  height: auto;
  font-size: 18px;
  overflow: hidden;
  padding: 80px 0;
  line-height: 1.5;
  background-color: #000;
  /* opacity: 0; */
}
footer a {
  /* a태그 없지만 모바일에서 번호가 a태그로 인식, 검정으로 보여서 */
  color: #fff;
}
footer p,
footer h4 {
  color: #fff;
}
.info_top {
  width: 100%;
  display: flex;
  gap: 100px;
}
.info_top h4 {
  font-weight: bold;
}
.info_bottom {
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.info_bottom > p {
  letter-spacing: 1px;
}
.info_bottom_link,
.info_bottom_link a {
  display: flex;
  font-weight: bold;
  color: #fff;
  justify-content: space-evenly;
}
.info_bottom_link {
  gap: 30px;
}
.info_bottom_link a {
  gap: 4px;
}
