@charset "utf-8";
@import url("./reset.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  background-color: #fff;
  color: #000;
}
.container {
  width: 100%;
  height: auto;
}
header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
/* 컨텐츠 공통 설정 */
.con {
  width: 1600px;
  height: auto;
  margin: 0 auto;
}
h4 {
  white-space: nowrap;
}

/* 헤더 */
header > .con {
  height: 100px;
  display: flex;
  gap: 100px;
}
#gnb {
  width: fit-content;
  display: flex;
  align-items: center;
  font-weight: 300;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
#gnb > ul {
  width: fit-content;
  display: flex;
  gap: 10px;
  text-align: center;
  background-color: #000;
  border-radius: 100px;
  padding: 10px 40px;
  box-sizing: border-box;
}
#gnb > ul > li {
  width: fit-content;
  height: fit-content;
  background-color: #000;
  border-radius: 100px;
}
#gnb > ul > li > a {
  transition: 0.5s;
  font-size: 16px;
  display: block;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  box-sizing: border-box;
}
#gnb > ul > li.active > a {
  font-weight: 500;
  background-color: #fff;
  color: #000;
}

/* sec1 */
.sec1 {
  width: 100%;
  height: 200px;
  margin-top: 100px; /* 헤더 높이때문에 */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
}
.sec1 .con {
  display: flex;
  align-items: baseline;
  gap: 4px;
}
.sec1 p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  margin-left: 10px;
}

/* 라이트박스 */
#light_box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 999;
  overflow: auto;
}
#light_box img {
  position: absolute;
  top: 100px;
  width: 1000px;
  height: auto;
  border-radius: 0;
}

/* sec2 */
.submenu {
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  gap: 4px;
}
.submenu a {
  padding: 10px 18px;
  transition: 0.3s;
}
.submenu a.active,
.submenu a:hover {
  background-color: #000;
  color: #fff;
  padding: 10px 18px;
  border-radius: 100px;
}

/* 상세페이지 submenu1, 광고 submenu3 */
.submenu1,
.submenu3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 200px;
}
.submenu1 .row_wrap,
.submenu3 .row_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.submenu1 .row_wrap p,
.submenu3 .row_wrap p {
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
  color: #555555;
  font-size: 20px;
  cursor: pointer;
}
.submenu1 img,
.submenu3 img {
  width: 500px;
  height: 500px;
  background-color: #000;
  border-radius: 40px;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
}
/* ================= 상세페이지 submenu1 끝 ================= */

/*  배너 submenu2 */
.submenu2 {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 200px;
}
.submenu2 p {
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
  color: #555555;
  font-size: 20px;
  cursor: pointer;
}
.submenu2 img {
  border-radius: 40px;
  width: 100%;
  height: 100%;
  max-height: 400px;
  object-fit: cover;
  cursor: pointer;
}
/* ================= 배너 submenu2  끝 ================= */

/* 촬영 submenu4 */
/* .submenu4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 200px;
}
.submenu4 img {
  width: 500px;
  height: 500px;
  background-color: #000;
  border-radius: 40px;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
} */

.submenu4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
}
.submenu4 img {
  width: 536px;
  height: 536px;
  background-color: #000;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid #000;
  box-sizing: border-box;
}
.submenu4 .row_wrap {
  display: flex;
  justify-content: space-between;
}
.submenu4 .row_wrap div {
  padding: 20px;
}

/* ================= 촬영 submenu3  끝 ================= */

/* 푸터 */
footer {
  width: 100%;
  height: auto;
  font-size: 18px;
  overflow: hidden;
  padding: 80px 0;
  line-height: 1.5;
  background-color: #000;
}
footer a {
  /* a태그 없지만 모바일에서 번호가 a태그로 인식, 검정으로 보여서 */
  color: #fff;
}
footer p,
footer h4 {
  color: #fff;
}
.info_top {
  width: 100%;
  display: flex;
  gap: 100px;
}
.info_top h4 {
  font-weight: bold;
}
.info_bottom {
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.info_bottom > p {
  letter-spacing: 1px;
}
.info_bottom_link,
.info_bottom_link a {
  display: flex;
  font-weight: bold;
  color: #fff;
}
.info_bottom_link {
  gap: 30px;
}
.info_bottom_link a {
  gap: 4px;
}
