/* 공통설정 */
@media screen and (min-width: 481px) and (max-width: 1600px) {
  .submenu4 .photo9 {
    display: block;
  }
}

/* 노트북 */
@media screen and (min-width: 1440px) and (max-width: 1600px) {
  /* .con 컨텐츠 공통 영역 */
  .con {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }

  /* 헤더 */
  header > .con {
    width: 90%;
  }

  /* 영역용 */
  .webpage7,
  .webpage8 {
    display: none;
  }
  /* sec2 */
  .detail_page10 {
    display: none;
  }
  .ad9 {
    display: block;
  }
  .detail_page10 .img_wrap,
  .ad9 .img_wrap {
    cursor: default;
  }

  .submenu1 img,
  .submenu3 img,
  .submenu4 img,
  .submenu5 img {
    width: 400px;
    height: 400px;
  }

  /* sec3 */
  .sec3 p {
    width: 90%;
  }
}

/* 중간사이즈 노트북, 큰 사이즈 테블릿 */
@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .con {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }

  /* 헤더 */
  header > .con {
    width: 90%;
  }

  /* sec2 */
  /* 영역용 */
  .webpage7,
  .webpage8 {
    display: none;
  }
  /* sec2 */
  .detail_page10 {
    display: none;
  }
  .ad9 {
    display: block;
  }
  .detail_page10 .img_wrap,
  .ad9 .img_wrap {
    cursor: default;
  }

  .submenu {
    font-size: 18px;
  }
  .submenu1 img,
  .submenu3 img,
  .submenu4 img,
  .submenu5 img {
    width: 28vw;
    height: 28vw;
  }
  .submenu2 {
    gap: 30px;
    margin-bottom: 100px;
  }
  .img_wrap {
    width: 28vw;
    height: 28vw;
    background-color: var(--bg-color);
  }

  /* sec3 */
  .sec3 p {
    width: 90%;
  }

  /* 푸터 */
  footer p,
  footer h4,
  .info_bottom span,
  .info_bottom p {
    font-size: 16px;
  }
}

/* 테블릿 중간~소 사이즈 */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .con {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }

  /* 헤더 */
  header > .con {
    width: 90%;
  }

  #light_box img {
    width: 540px;
  }

  /* sec2 */
  /* 영역용 */
  .webpage7,
  .webpage8 {
    display: none;
  }
  /* sec2 */
  .detail_page10 {
    display: none;
  }
  .ad9 {
    display: block;
  }
  .detail_page10 .img_wrap,
  .ad9 .img_wrap {
    cursor: default;
  }

  .submenu {
    font-size: 18px;
  }
  .submenu1,
  .submenu3,
  .submenu4,
  .submenu5 {
    gap: 10px;
  }
  .submenu2 {
    gap: 30px;
    margin-bottom: 100px;
  }
  .content_wrap p,
  .submenu5 span {
    font-size: 14px;
  }
  .img_wrap {
    width: 28vw;
    height: 28vw;
    background-color: var(--bg-color);
  }

  /* sec3 */
  .sec3 p {
    width: 90%;
  }

  /* 푸터 */
  footer p,
  footer h4,
  .info_bottom span,
  .info_bottom p {
    font-size: 16px;
  }
}

/* 모바일 */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* 헤더 */
  header > .con {
    width: 90%;
  }
  h1 {
    font-size: 26px;
  }
  #gnb {
    font-size: 20px;
  }
  #gnb > ul > li {
    padding: 0px;
  }
  #gnb > ul {
    padding: 0px;
  }
  #gnb > ul > li > a {
    padding: 0px;
  }

  /* .con 컨텐츠 공통 영역 */
  .con {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }

  #light_box img {
    width: 70vw;
  }

  /* sec1 */
  .sec1 {
    margin-bottom: 10px;
  }

  /* sec2 */
  .detail_page10 {
    display: none;
  }
  .ad9 {
    display: block;
  }
  .webpage7,
  .webpage8 {
    display: none;
  }
  .detail_page10 .img_wrap,
  .ad9 .img_wrap {
    cursor: default;
  }

  .submenu {
    font-size: 14px;
    gap: 2px;
    justify-content: center;
    margin-bottom: 20px;
  }
  .submenu1,
  .submenu3,
  .submenu4,
  .submenu5 {
    gap: 10px;
    margin-bottom: 100px;
  }
  .img_wrap {
    width: 26vw;
    height: 26vw;
  }
  .submenu2 {
    gap: 10px;
    margin-bottom: 100px;
  }
  .submenu1 p,
  .submenu2 p,
  .submenu3 p,
  .submenu5 span {
    display: none;
  }
  .img_wrap {
    width: 28vw;
    height: 28vw;
    background-color: var(--bg-color);
  }

  /* sec3 */
  .sec3 {
    margin-bottom: 0px;
  }
  .sec3 p {
    width: 90%;
    font-size: 24px;
  }

  /* 푸터 */
  footer p,
  footer h4,
  .info_bottom span,
  .info_bottom p {
    font-size: 12px;
  }
  .info_top {
    width: 90%;
    margin: 0 auto;
    gap: 0;
    justify-content: space-between;
  }
  .info_bottom {
    width: fit-content;
    margin: 0 auto;
    flex-direction: column-reverse;
    gap: 20px;
    text-align: center;
    margin-top: 60px;
  }
}

/* 작은 모바일 */
@media screen and (max-width: 480px) {
  /* 헤더 */
  header > .con {
    width: 90%;
  }
  header {
    height: 80px;
  }
  h1 {
    font-size: 24px;
  }
  #gnb {
    font-size: 16px;
  }
  #gnb > ul > li {
    padding: 0px;
  }
  #gnb > ul {
    padding: 0px;
    gap: 20px;
  }
  #gnb > ul > li > a {
    padding: 0px;
  }

  /* .con 컨텐츠 공통 영역 */
  .con {
    width: 96%;
    height: auto;
    margin: 0 auto;
  }

  #light_box img {
    width: 70vw;
  }

  /* sec1 */
  .sec1 {
    height: 140px;
  }
  .sec1 h2 {
    font-size: 40px;
  }
  .sec1 p {
    font-size: 14px;
    margin-bottom: 40px;
  }
  .sec1 {
    margin-bottom: 10px;
  }

  /* sec2 */
  .detail_page10 {
    display: none;
  }
  .ad9 {
    display: none;
  }
  .webpage7,
  .webpage8 {
    display: none;
  }
  .detail_page10 .img_wrap,
  .ad9 .img_wrap {
    cursor: default;
  }
  .submenu {
    font-size: 12px;
    gap: 2px;
    justify-content: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }
  .submenu1,
  .submenu3,
  .submenu4,
  .submenu5 {
    /* gap: 10px; */
    margin-bottom: 60px;
  }
  .content_wrap > div {
    margin-bottom: 0px;
  }
  .img_wrap {
    width: 26vw;
    height: 26vw;
  }
  .submenu2 {
    gap: 10px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 60px;
  }
  .content_wrap p,
  .submenu5 span {
    display: none;
  }
  .img_wrap {
    width: 36vw;
    height: 36vw;
    background-color: var(--bg-color);
  }

  /* sec3 */
  .sec3 {
    height: 60px;
  }
  .sec3 p {
    width: 90%;
    font-size: 20px;
  }
  .sec3_top,
  .sec3_bottom {
    flex-wrap: wrap;
    gap: 20px;
  }

  /* 푸터 */
  footer p,
  footer h4,
  .info_bottom span,
  .info_bottom p {
    font-size: 12px;
  }
  .info_top {
    width: 90%;
    margin: 0 auto;
    gap: 0;
    justify-content: space-between;
  }
  .info_bottom {
    width: fit-content;
    margin: 0 auto;
    flex-direction: column-reverse;
    gap: 20px;
    text-align: center;
    margin-top: 60px;
  }
}
